/* Header Styles */
.header {
    height: 250px;
    max-height: 500px;
    background-image: image/upsBackground.png;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
    .pageTopic {
  text-align: center;
    }
/* Primary Color */

/* Typography CSS */

/* UI Elements */





  .colorContainer{
display: inline-block;
margin: 15px; 
  }

  .swatch {
 height: 200px;
 width: 170px;
 background: 1px solid black;   
  }

.hexCode {
padding: 15px;
text-align: center;
border: 1px solid black;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;  
}
